# Node dependencies
node_modules/


dist/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite / IDE files
.vite/
.vscode/

# WordPress & OS files
.DS_Store
thumbs.db
*.log

# Composer dependencies
/vendor/

# Development files
.env
/tests/
/node_modules/